.sidebar {
  width: 220px;
  min-height: 100vh;
  background: white;
  border-right: 1px solid lightgray;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-logo {
  color: blue;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  padding: 10px !important;
  border-radius: 10px;
  color: gray !important;
  text-decoration: none !important;
  margin-bottom: 8px;
}

.active-link {
  background-color: lightblue;
  color: blue !important;
  font-weight: bold;
}

.sidebar-bottom {
  border-top: 1px solid lightgray;
  padding-top: 15px;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 100%;         
}

.user-avatar {
  width: 40px;
  height: 40px;
  min-width: 38px;       
  border-radius: 50%;
  margin-right: 0;
  margin-left: 0;

  background: #e0e7ff;
  color: blue;

  display: flex;

  font-weight: 600;
  font-size: 18px;
       
}


.user-name {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

user-box {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 100%;      
}


.user-info {
  min-width: 0;
  flex: 1;
  overflow: hidden;
}


.user-email {
  margin: 0;
  font-size: 14px;
  color: #6b7280;

  overflow: hidden;
  text-overflow: ellipsis;
}


.signout-btn {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 10px;
  cursor: pointer;
}

.signout-btn:hover {
  background: lightgray;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}